@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Estilo global */

html, body{
    @apply bg-ipmr-light;
}

body{
    padding-top: 170px;
}

body.admin{
    padding-top: 0;

}

@media screen and (max-width: 640px){
    body{
        padding-top: 100px;
    }
}

.container{
    @apply mx-auto relative z-10 px-4;
    max-width: 1100px;
}

/* Estilo del header principal */
.headerMaster{
    @apply py-16 z-50 fixed top-0 left-0 w-full;
    transition: all 0.25s ease-in-out;
}

@media screen and (max-width: 640px){
    .headerMaster{
        @apply py-7
    }
}

.headerMaster.onScroll{
    @apply bg-ipmr-light py-6 shadow;
}

.headerSocialLinks{
    @apply justify-end space-x-6;
}

.headerSocialLinks a{
    @apply text-ipmr-red;
    font-size: 1.3rem;
}

/* Estilo del footer principal */
.footerMaster{
    @apply py-10 md:py-16;
}
.footerMenu{
    @apply flex space-x-7 items-center justify-center;
}

.footerMenu a{
    @apply text-ipmr-red tracking-widest font-bold;
}

@media screen and (max-width: 640px){
    .footerMenu{
        @apply flex flex-col space-y-4 items-start justify-start space-x-0;
    }

    .footerMenu a{
        font-size: 1.2rem;
    }
}

.footerMenu a:hover{
    @apply underline;
}

/* Estilo de links de contacto laterales */
.contactLinks{
    @apply fixed right-0 z-50 flex-row space-x-7 p-8;
    transform: rotate(90deg) translateY(-100%);
    top: calc(50% - 50px);
}

.contactLinks a{
    @apply text-xs font-bold uppercase tracking-widest
}

.contactLinks a:hover{
    @apply text-ipmr-red;
}

/* Menu de navegacion */
.navMenu{
    @apply h-screen fixed top-0 left-0 bg-ipmr-red;
    z-index: 1000;
    width: 60vw;
    padding: 7rem;
    transition: transform 0.25s ease-in-out;
    transform: translateX(-100%);
}

.navMenu.active{
    transform: translateX(0);
}

.navMenu nav{
    @apply flex flex-col justify-center space-y-8;
}

.navMenu nav a{
    @apply text-white text-3xl font-bold tracking-widest;
}

.navMenu nav a:hover{
    @apply text-ipmr-light underline;
}

.navMenu .navMenuCopy{
    @apply text-white text-sm font-bold mt-10;
}

.navMenuCloseBtn{
    @apply absolute top-0 right-0 mt-8 mr-8 text-ipmr-light;
    font-size: 1.5rem;
    cursor: pointer;
}

@media screen and (max-width: 640px){
    .navMenu{
        width: 100vw;
        padding: 4rem;
    }

    .navMenu nav{
        @apply space-y-4;
    }

    .navMenu nav a{
        font-size: 1.2rem;
    }
}

/* Titulos y parrafos */
h1, h2, h3, h4, h5, h6{
    font-family: 'Patua One', cursive;
}

h1{
    @apply text-4xl font-bold;
}

h2{
    @apply text-3xl font-bold;
}

h3{
    @apply text-2xl font-bold;
}

h4{
    @apply text-xl font-bold;
}

h5{
    @apply text-lg font-bold;
}

h6{
    @apply text-base font-bold;
}

@media screen and (max-width: 640px){
    h1{
        @apply text-3xl;
    }

    h2{
        @apply text-2xl;
    }

    h3{
        @apply text-xl;
    }

    h4{
        @apply text-lg;
    }

    h5{
        @apply text-base;
    }

    h6{
        @apply text-sm;
    }
}

h1.title{
    font-size: 40px;
    line-height: 60px;
}

@media screen and (max-width: 640px){
    h1.title{
        font-size: 30px;
        line-height: 40px;
    }
}

.borderBottom{
    @apply relative;

}
.borderBottom:after{
    @apply block w-20 h-1 bg-ipmr-red mt-4;
    content: '';
}

.accent{
    @apply text-ipmr-red underline;
}

/* Covers o portadas */
.homeCover{
    @apply py-10 md:py-16;
}

/* Botones y links y forms */
.btn{
    @apply px-8 py-4 font-bold inline-block rounded-sm;
}

.btn-primary{
    @apply bg-ipmr-red text-white;
}

.btn-primary-outline{
    @apply border-2 border-ipmr-red text-ipmr-red;
}

.btn.block{
    @apply w-full text-center;
}

.form-group{
    @apply mb-4;

}

.form-control{
    @apply block w-full border-2 border-ipmr-red rounded-sm px-4 py-4 outline-none focus:border-ipmr-red transition-all duration-200 ring-0 focus:ring-0;
}

/* Fondo diagonal degradado */
.bgDiagonal{
    @apply w-screen h-auto absolute left-0 right-0;
    top: -600px;
    z-index: 1;
}

@media screen and (max-width: 640px){
    .bgDiagonal{
        top: -180px;
    }
}

/* Cuadros de servicios */
.serviceSquare{
    @apply w-full bg-white p-8 bg-cover bg-center bg-no-repeat relative;
    height: 500px;
}

@media screen and (max-width: 640px){
    .serviceSquare{
        height: 300px;
    }
}

.serviceSquare h3{
    @apply bg-ipmr-light py-4 px-8 absolute bottom-2 right-2 left-2 text-lg text-center;
}

.serviceBox{
    @apply w-full bg-white p-7 bg-white relative flex flex-col items-start justify-between;
    height: 250px;
}

.serviceBox:hover{
    @apply shadow-lg bg-ipmr-red text-white;
}

/* Seccion acerca de nosotros */
.aboutLaptop{
    @apply w-60 absolute top-0 right-0 h-auto;
}

.aboutVideoContainer{
    @apply relative bg-gray-900;
    min-height: 500px;
    overflow: hidden
}

@media screen and (max-width: 640px){
    .aboutVideoContainer{
        min-height: 0px;
    }
}

.aboutVideoBg{
    @apply absolute top-0 left-0 bottom-0 right-0 w-full h-full opacity-50 object-cover object-center;
}

.sectionHalfImg{
    width: 50vw;
    height: 100%;
    @apply bg-cover bg-center bg-no-repeat;
    position: absolute;
    right: 0;
    top: 0;
}

@media screen and (max-width: 640px){
    .sectionHalfImg{
        width: 100vw;
        height: 300px;
        top: auto;
        bottom: auto;
        position: relative;
        margin-bottom: 2rem;
    }
}

.drift-conductor-item iframe{
    @apply border-0 outline-none ring-0 focus:ring-0;
}

/* Blog y recursos */
.blogCard{
    @apply bg-white shadow rounded-sm overflow-hidden h-full flex flex-col;
}

/* Card */
.card{
    @apply bg-white shadow rounded-sm overflow-hidden h-full flex flex-col p-6;
}

/* Tables */
.table{
    @apply w-full overflow-hidden text-left;
}

.table thead tr th, .table tbody tr td{
    @apply py-2 border-b border-gray-200;
}

.table thead tr th{
    @apply font-bold text-sm uppercase tracking-widest;
}

.table tbody tr:last-child td{
    @apply border-b-0 pb-0;
}

label{
    @apply block text-sm font-bold mb-2;
}